@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    background-color: white;
    color: black;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #404040;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fafafa;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a3a3a3;
}