@import url('https://fonts.googleapis.com/css2?family=K2D&family=Khand&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --_size: 1.5rem;
    --bg: #1F2833;
    --bg2: #2E3B4B;
    --bg3: rgba(217, 217, 217, 0.6);
    --txt: #FFFFFF;
    --accent1: #49C5B6;
    --accent2: #44A29E;
}

::selection {
    color: var(--bg);
    background-color: var(--accent1);
}

body {
    background-image: url('/Sprinkle.svg');
    font-family: 'K2D', sans-serif;
    overflow-x: hidden;
}

#trailer {
    height: 20px;
    width: 20px;
    background-color: var(--accent2);
    border-radius: 20px;
    
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10000;
    
    pointer-events: none;
    opacity: 0;
    transition: opacity 500ms ease;
  }
  
  .body:hover > #trailer {
    opacity: 1;
  }

.nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0fr 0.5fr 0.1fr;
    min-height: 100vh;
    min-width: 100vw;
    transition: all 0.8s ease-in-out;
    position: absolute;
    top: 0;
    z-index: 10;
}

.search {
    color: var(--accent1);
    width: 56px;
    margin: var(--_size) 0 0 var(--_size);
}

.heading {
    text-align: center;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    place-content: center;
    place-items: center;
    gap: calc(var(--_size) * 1.5);
}

.heading > h1 {
    font-size: calc(var(--_size) * 3.5);
    letter-spacing: .1em;
    color: var(--accent1);
    transition: all 0.8s ease-in-out;
}

.heading > p {
    font-family: 'Khand', sans-serif;
    font-size: calc(var(--_size) * 0.75);
    width: 250px;
    color: var(--txt);
    opacity: 0.6;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--txt);
    grid-column: span 3;
    grid-row: 3;
    margin-top: calc(var(--_size) + 2rem);
    transition: all 0.8s ease-in-out;
}

.btn {
    /* padding: calc(var(--_size) * 0.2) calc(var(--_size) + 1.75rem); */
    font-size: calc(var(--_size) * 1.1);
    background-color: transparent;
    color: var(--txt);
    border: 5px solid var(--accent1);
    cursor: pointer;
    height: 50px;
    width: 200px;
}

.option-wrapper {
    position: relative;
}

.options {
    position: absolute;
    width: 100%;
    color: var(--txt);
    background-color: var(--bg);
    font-size: calc(var(--_size) * 0.9);
    text-align: center;
    display: flex;
    flex-direction: column;
    /* gap: .5rem; */
    box-shadow: -8px 8px 64px 2px rgba(0, 0, 0, 0.25), 8px 8px 64px 2px rgba(0, 0, 0, 0.25);
}

.hide {
    display: none;
}

.options > p {
    opacity: .6;
    cursor: pointer;
    margin-bottom: .25rem;
}

.options > p:hover {
    opacity: 1;
}

.subjects {
    margin: 6rem auto;
    padding: var(--_size);
    color: var(--txt);
    text-align: center;
}

.sub-header h1 {
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: .2em;
    line-height: 60px;
}

.sub-header p {
    opacity: .6;
    line-height: 33px;
}

.sub-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: calc(var(--_size) + 2rem);
    margin-top: var(--_size);
    margin-inline: calc(var(--_size) * 8);
}

.sub-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(var(--_size) * .8);
    background-color: var(--accent2);
    padding: calc(var(--_size) * .7) calc(var(--_size) * .4);
    cursor: pointer;
    border: 5px solid var(--accent2);
    transition: all 800ms ease;
}

.sub-title:hover {
    background-color: var(--bg);
    color: var(--accent2);
}

.syllabus {
    margin: 10rem 13.5rem .5rem 13.5rem;
    padding: var(--_size);
    color: var(--txt);
    text-align: center;
    background-color: var(--bg2);
    border-radius: 0px 12px 12px 12px;
    position: relative;
}

.syll-header h1 {
    letter-spacing: .1em;
    line-height: 60px;
}

.syll-header p {
    opacity: .6;
    line-height: 33px;
}

.syll-tags {
    display: flex;
    padding: var(--_size);
    justify-content: space-between;
}

.syll-tags h3 {
    font-size: calc(var(--_size));
    color: var(--accent1);
}

.syll-tags span {
    margin-left: 1em;
    color: var(--txt);
}

.back-btn {
    position: absolute;
    left: var(--_size);
    top: var(--_size);
    width: calc(var(--_size) * 1.25);
    cursor: pointer;
}

.syll-theory {
    color: black;
}

.unit-head {
    background-color: var(--txt);
    display: flex;
    margin: 0 calc(var(--_size) * .85);
    opacity: 0.8;
    padding: calc(var(--_size) * 0.75);
    justify-content: space-between;
    cursor: pointer;
}

.drop-icon {
    width: var(--_size);
}

.topics {
    /* border: 1px solid red; */
    display: block;
    position: relative;
    margin: 0 calc(var(--_size) * 1.8) calc(var(--_size) * .85) calc(var(--_size) * 1.8);
    padding: calc(var(--_size) * 0.2);
    text-align: left;
    /* cursor; */
    background-color: var(--bg3);
    color: var(--txt)
}

.topic-items {
    display: flex;
}

.topic-items .bullet {
    color: var(--bg);
}

.topic-items li {
    list-style: none;
    margin: calc(var(--_size) * 0.1) 0 ;
    padding: calc(var(--_size) * 0.5) ;
}

.tabs {
    position: absolute;
    left: calc(var(--_size) * -6.15);
    top: calc(var(--_size) * -1);
    padding: var(--_size);
}

.tab {
    padding: calc(var(--_size) * .5) calc(var(--_size));
    background-color: var(--bg);
    color: var(--accent2);
    border-radius: 12px 0px 0px 12px;
    border: 2px solid var(--accent2);
    border-right: 0px;
    font-size: var(--_size);
    cursor: pointer;
}

.tab:hover {
    background-color: var(--accent2);
    color: var(--bg);
    transition: all .2s ease-in-out;
}

.tab-selected {
    background-color: var(--accent2);
    color: var(--bg);
}

.null-data {
    margin: 0rem 25rem;
    text-align: center;
    padding: var(--_size);
    letter-spacing: .1em;
    border-radius: 12px;
    border: 5px solid var(--accent2);
    color: var(--accent2);
}

.null-data p {
    color: var(--txt);
}