@import url('https://fonts.googleapis.com/css2?family=K2D&family=Khand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --_size: 1.5rem;
    --_hue: 177;
    --_radius: .2em;

    --bg: hsl(calc(var(--_hue) + 36) 24% 16%);
    --txt: hsl(var(--_hue) 30% 88%);
    --accent: hsl(var(--_hue) 41% 45%);
    --accent1: hsl(calc(var(--_hue) - 4) 52% 53%);
    --muted: hsl(var(--_hue) 0% 60%);
}

/* body */
.body {
    background-image: url('/wave.svg');
    background-size: contain;
    background-position-y: bottom;
    background-color: var(--bg);
    background-repeat: no-repeat;
    min-height: 100vh;
    transition: all 800ms ease-in-out;
    padding-bottom: calc(var(--_size) * 2);
}

/* popup-heading */
.pop-header {
    background-color: hsl(212, 25%, 10%);
    color: #FFFFFF;
    text-align: center;
    padding: var(--_size);
    font-size: calc(var(--_size) - 5);
    font-weight: 700;
    font-family: 'Nunito Sans';
    line-height: 20px;
    letter-spacing: 0.06em;
}

.pop-header p {
    background: none;
}

/* navbar */
.nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: var(--_size);
}

/* nav heading */
.heading {
    grid-column: span 2;
    grid-row: 2;
    transition: opacity 800ms ease-in-out;
}

.heading h1 {
    font-family: 'K2D';
    font-weight: 800;
    font-size: calc(var(--_size) + 2rem);
    line-height: 74px;
    letter-spacing: 0.1em;
    text-align: center;
    color: var(--accent);
    text-shadow: -5px 0px 2px #131920;
    position: relative;
}

.heading .underline {
    border-bottom: 3px solid var(--muted);
    position: absolute;
    width: 274px;
    left: 60px;
    bottom: 0;
}

.heading p {
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: calc(var(--_size) - 5);
    line-height: 20px;
    text-align: center;
    color: var(--txt);
    padding: var(--_size);
    margin: var(--_size);
    border-radius: calc(var(--_radius) * 5);
    background-color: var(--accent);
}

/* nav buttons & options */
.btn {
    font-size: calc(var(--_size) - .25rem);
    text-transform: uppercase;
    font-family: 'Nunito Sans';
    background-color: var(--bg);
    color: var(--txt);
    border: 2px solid var(--accent1);
    font-weight: 700;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.1em;
    cursor: pointer;
    height: 44px;
    width: 154px;
    box-shadow: inset 0px 0px 10px 4px rgba(68, 162, 158, 0.5);
}

.option-wrapper {
    position: relative;
    transition: all 800ms ease-in-out;
    grid-row: 5;
}

.options {
    position: absolute;
    font-family: 'Nunito Sans';
    width: 100%;
    color: var(--txt);
    background-color: var(--bg);
    font-size: calc(var(--_size) - .25rem);
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.025em;
    text-align: center;
    display: flex;
    flex-direction: column;
    z-index: 20;
    /* gap: .5rem; */
    box-shadow: -8px 8px 64px 2px rgba(0, 0, 0, 0.25), 8px 8px 64px 2px rgba(0, 0, 0, 0.25);
}

.options > p {
    opacity: .6;
    cursor: pointer;
    margin-bottom: .25rem;
}

.options > p:hover {
    opacity: 1;
}

/* feedback form */
.feedback-form {
    grid-column: span 2;
    grid-row: 10;
    cursor: pointer;
}

.feedback-form a {
    font-family: 'Nunito Sans';
    background-color: var(--bg);
    border-radius: calc(var(--_radius) * 5);
    font-weight: 700;
    font-size: calc(var(--_size) - .25rem);
    line-height: 27px;
    text-align: center;
    text-decoration: none;
    color: var(--muted);
    display: flex;
    padding: calc(var(--_size) * .7);
    gap: calc(var(--_size) * .4);
    box-shadow: -4px -4px 10px rgba(0, 0, 0, 0.25), 4px 4px 10px rgba(0, 0, 0, 0.25);
}

.icon {
    width: var(--_size);
    height: var(--_size);
}

/* footer */
.footer {
    position: absolute;
    display: grid;
    place-items: center;
    font-family: 'K2D';
    left: 0;
    right: 0;
    bottom: 0;
}

.footer p {
    display: flex;
    font-style: bold;
    color: var(--txt);
    padding: calc(var(--_size) * .5);
    gap: 10px;
}

.footer a {
    text-decoration: none;
    color: var(--txt);
}

.footer a:hover {
    color: var(--accent);
}

.background {
    width: 300px;
    height: 10vh;
}

/* transforming */
.disappear {
    opacity: 0;
}

.hide {
    display: none;
}

/* subjects */
.subjects {
    margin: var(--_size) auto;
}

.sub-header h1 {
    font-family: 'K2D';
    font-weight: 700;
    font-size: calc(var(--_size) + 1.25rem);
    color: var(--txt);
    text-align: center;
    line-height: 57px;
    letter-spacing: 0.1em;
    text-shadow: 0px 4px 0px #000000;
}

.sub-wrapper, .syll-notes, .syll-pyqs, .syll-books, .syll-practicals {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: calc(var(--_size) * .65);
    margin: var(--_size) auto;
}

.sub-title, .note-title, .pyq-title, .book-title, .practical-title {
    font-family: 'Nunito Sans';
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: calc(var(--_size) - .25rem);
    text-decoration: none;
    color: var(--txt);
    line-height: 27px;
    letter-spacing: 0.085em;
    background-color: var(--accent);
    text-align: center;
    border-radius: calc(var(--_radius) * 5);
    padding: calc(var(--_size) * .7);
    margin: 0 var(--_size);
    color: var(--txt);
    cursor: pointer;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: box-shadow 500ms ease-in-out;
}

.sub-title:focus {
    outline: none;
}

.sub-title:hover, .sub-title:focus-visible {
    box-shadow: 0 0 0 var(--accent), 0 0 0 0.2em var(--bg),
    0 0 0 0.4em var(--accent);
}

/* tabs */
.tabs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-family: 'Nunito Sans';
    padding-top: 18px;
}

.tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--muted);
    cursor: pointer;
    padding: calc(var(--_size) * .2);
    background-color: var(--bg);
    outline: none;
    border: none;
}

.tab-selected {
    color: white;
}

/* .tabs .tab:last-child {
    padding-top: 18px;
} */

/* syllabus */
.syllabus {
    position: relative;
}

/* .syll-header {
    position: relative;
} */

.back-btn {
    width: calc(var(--_size) + 1rem);
    height: calc(var(--_size) + 1rem);
    background-color: var(--txt);
    /* margin: var(--_size) 0 calc(var(--_size) * .01) 0; */
    border-radius: calc(var(--_size) * 4);
}

.syll-header h1 {
    font-family: 'K2D';
    font-weight: 700;
    font-size: calc(var(--_size) * 1.12);
    text-align: center;
    line-height: 57px;
    letter-spacing: 0.1em;
    color: var(--txt);
    text-shadow: -2px 4px 0px #44A29E;
    /* margin-left: var(--_size); */
}

.syll-tags {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: var(--_size);
    text-transform: uppercase;
    font-family: 'Nunito Sans';
}

.syll-tags h3 {
    font-weight: 600;
    font-size: calc(var(--_size) - .25rem);
}

.tag-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--accent);
}

.tags {
    display: flex;
    flex-direction: column;
    align-items: end;
    color: var(--txt);
}

.expand-icon {
    color: white;
}

/* theory syllabus */
.topics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: calc(var(--_size) * .75);
}

.topic-items {
    background-color: white;
    padding: calc(var(--_size) * .25) var(--_size);
    width: 100%;
}

/* 404 & Load component */
.null-data, .load-data {
    border: 5px solid var(--accent);
    border-radius: calc(var(--_radius) * 4);
    text-align: center;
    padding: var(--_size) 0;
    color: var(--accent);
    font-family: 'Nunito Sans';
}