/* mobile S */
@media (width >= 320px) {
    :root {
        --_size: .85rem;
    }
    .btn {
        width: 130px;
        font-size: calc(var(--_size) - .025rem);
    }
    .options {
        font-size: calc(var(--_size) - .025rem);
    }
    .feedback-form a {
        font-size: calc(var(--_size) - .025rem);
    }
    .icon {
        width: calc(var(--_size) * 1.25);
        height: calc(var(--_size) * 1.25);
    }
    .tab .icon {
        width: calc(var(--_size) * 1.25);
        height: calc(var(--_size) * 1.25);
    }
    .sub-title, .note-title, .pyq-title, .book-title, .practical-title {
        font-size: calc(var(--_size) - .025rem);
    }
    .back-btn {
        width: calc(var(--_size) + 1.25rem);
        height: calc(var(--_size) + 1.25rem);
    }
    .syll-header h1 {
        font-size: calc(var(--_size) * 1.5);
        line-height: 1.5em;
        padding: 0 1.25em;
    }
    .syll-tags h3 {
        font-size: calc(var(--_size) - .025rem);
    }
    .syllabus .syll-theory div span h3,
    .syllabus .syll-lab div span h3,
    .syllabus .syll-lab div span p {
        font-size: calc(var(--_size) + .25rem);
    }
    .syllabus .syll-theory div,
    .syllabus .syll-lab div {
        font-size: calc(var(--_size) - .025rem);
    }
}

/* mobile M */
@media (width >= 375px) {
    :root {
        --_size: 1rem;
    }
    .btn {
        width: 145px;
    }
}

/* mobile L */
@media (width >= 425px) {
    :root {
        --_size: 1.25rem;
    }
    .btn {
        width: 150px;
        font-size: calc(var(--_size) * .7);
    }
    .options {
        font-size: calc(var(--_size) * .7);
    }
    .feedback-form a {
        font-size: calc(var(--_size) * .7);
    }
    .nav {
        gap: calc(var(--_size) * .5);
    }
    .sub-title, .note-title, .pyq-title, .book-title, .practical-title {
        font-size: calc(var(--_size) * .7);
    }
    .syll-header h1 {
        font-size: calc(var(--_size) * 1.25);
    }
    .syll-tags h3 {
        font-size: calc(var(--_size) * .7);
    }
    .syllabus .syll-theory div span h3,
    .syllabus .syll-lab div span h3,
    .syllabus .syll-lab div span p {
        font-size: calc(var(--_size) + .025rem);
    }
    .syllabus .syll-theory div,
    .syllabus .syll-lab div {
        font-size: calc(var(--_size) * .7);
    }
}

/* tablet */
@media (width >= 768px) {
    :root {
        --_size: 1.5rem;
    }
    .heading p {
        font-size: calc(var(--_size) - .025rem);
        margin: var(--_size) calc(var(--_size) * 4.5);
    }
    .btn {
        width: 165px;
        font-size: calc(var(--_size) * .7);
    }
    .options {
        font-size: calc(var(--_size) * .7);
    }
    .feedback-form a {
        font-size: calc(var(--_size) * .7);
    }
    .sub-wrapper, .syll-notes, .syll-pyqs, .syll-books, .syll-practicals {
        grid-template-columns: repeat(2, 1fr);
    }
    .sub-title, .note-title, .pyq-title, .book-title, .practical-title {
        padding: calc(var(--_size) * .65) calc(var(--_size) * .7);
    }
    .syll-header h1 {
        font-size: calc(var(--_size) * 1.5);
    }
    .syll-tags h3 {
        font-size: calc(var(--_size) * .7);
    }
    .syllabus .syll-theory div span h3,
    .syllabus .syll-lab div span h3,
    .syllabus .syll-lab div span p {
        font-size: calc(var(--_size) + .025rem);
    }
    .syllabus .syll-theory div,
    .syllabus .syll-lab div {
        font-size: calc(var(--_size) * .7);
    }
}

/* laptop */
@media (width >= 1024px) {
    :root {
        --_radius: .1em;
    }
    .laptop-only {
        display: block;
    }
    .nav {
        grid-template-columns: repeat(3, 1fr);
        margin-top: var(--_size);
    }
    .btn {
        border-radius: calc(var(--_radius) * 2);
    }
    .heading {
        grid-column: span 1;
        grid-row: 1 / 2;
    }
    .heading p {
        font-size: calc(var(--_size) * .55);
        margin: var(--_size);
        padding: var(--_size) calc(var(--_size) * .35);
    }
    .info h4{
        font-size: calc(var(--_size) + .025rem);
    }
    .info-left {
        grid-row: 1 / 2;
        grid-column: 1;
    }
    .info-right {
        grid-row: 1 / 2;
        grid-column: 3;
    }
    .option-wrapper {
        grid-row: 3;
        grid-column: 2;
    }
    .sem-btn {
        justify-self: start;
    }
    .branch-btn {
        justify-self: end;
    }
    .feedback-form {
        grid-column: 3;
        grid-row: 3;
    }
    .feedback-form a {
        font-size: calc(var(--_size) - .85rem);
        padding: calc(var(--_size) * .3);
    }
    .icon {
        width: calc(var(--_size) * .7);
        height: calc(var(--_size) * .7);
    }
    .syllabus {
        margin: 1rem;
    }
    .tabs {
        flex-direction: column;
        position: absolute;
        left: calc(var(--_size) * 3);
        top: calc(var(--_size) * 5.519 + 18px);
        padding-top: 0;
        box-shadow: -4px 0px 4px 2px rgba(0, 0, 0, 0.4);
    }
    .tab {
        width: 100px;
        height: 45px;
    }
    .tab .icon {
        width: 20px;
        height: 20px;
    }
    .tags, .tag-title {
        display: none;
    }
    .syll-tags {
        margin: 0 calc(var(--_size) * 5) 0 calc(var(--_size) * 7);
    }
    .syll-tags .laptop-only {
        color: var(--accent);
        display: flex;
        justify-content: space-between;
        padding: 0 var(--_size);
    }
    .syll-tags .laptop-only span {
        color: var(--txt);
    }
    .syll-theory, .syll-lab, .syll-notes, .syll-pyqs, .syll-books, .syll-practicals {
        background-color: var(--bg);
        padding: var(--_size);
        margin: 0 calc(var(--_size) * 5) 0 calc(var(--_size) * 7);
        border-radius: 0 calc(var(--_size)) var(--_size) 0;
        display: grid;
        gap: var(--_size);
        box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.4);
        min-height: calc(var(--_size) * 13.4);
    }
    .sub-wrapper {
        grid-template-columns: repeat(4, 1fr);
        margin: var(--_size) calc(var(--_size) * 2);
    }
    .syll-notes, .syll-pyqs, .syll-books, .syll-practicals {
        grid-template-columns: repeat(3, 1fr);
    }
    .sub-title, .note-title, .pyq-title, .book-title, .practical-title {
        padding: calc(var(--_size) * .5) calc(var(--_size) * 1);
        margin: 0 calc(var(--_size) * .02);
        min-height: 80px;
    }
    .icon.back-btn {
        width: 100px;
        height: 45px;
        border-radius: 0;
    }
    .null-data, .load-data {
        margin: 0 calc(var(--_size) * 5) 0 calc(var(--_size) * 7.25);
    }
}

/* laptop L */
@media (width >= 1440px) {
    :root {
        --_size: 1.75rem;
    }
    .tabs {
        left: calc(var(--_size) * 3.425);
        top: calc(var(--_size) * 5.519 + 12.75px);
    }
    .tab {
        width: 100px;
        height: 55px;
    }
    .syll-theory, .syll-lab, .syll-notes, .syll-pyqs, .syll-books, .syll-practicals {
        gap: calc(var(--_size) * .425);
    }
}

@media (width >= 2560px) {
    :root {
        --_size: 3.5rem;
    }
}